@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Homepage";
}


<header>David Jensen</header>

<img src="img/dave.jpg" />

<p>
    I am looking forward to IS413 in the winter 2022 semester.
    I really hope to learn valueable and applicable skills that i can use int the real world.
    I am also looking forward to the react unit as that is what i will be working in with my internship this summer.
    I also hope to learn how to learn a little better so i will be more teachable in the future.
</p>

<p>
    Top #3 jobs I am most interested in pursuing when I graduate:
</p>

<ul>
    <li>Product Management</li>
    <li>Business Intelligence</li>
    <li>F1 Driver</li>
</ul>